{% extends 'patient/patient_base.html' %}
{% load staticfiles %}

{% block patient_block %}

    <div class="container">
      <div class ="container" style="padding:1em; background-color: #efefef">
        <img src="{% static 'images/doctor.png' %}" style = "height:5rem !important" class="img-fluid border-img" alt="My image">
        <span style="font-size:2em; padding:0.5em">Dr Joe Davis</span>
      </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Department</th>
                    <th class = "table_details">Cardiology</th>
                </tr>
            </thead>
            <thead>
                    <tr>
                        <th>Practice</th>
                        <th class = "table_details">24 Woodlands Road, G4 9TD</th>
                    </tr>
                </thead>
                <thead>
                        <tr>
                            <th>Phone</th>
                            <th class = "table_details">0748392857</th>
                        </tr>
                    </thead>
        </table>
            <div style = "text-align: center">
                <button style="width:60%"  type="button" class="btn btn-danger" data-dismiss="modal">Go Back</button>
            </div>
            <div style = "text-align: center; margin:1em">

                <button type="button" class="btn btn-danger">Call</button>

                <button type="button" class="btn btn-danger">Message</button>


            </div>
        </div>



{% endblock %}
