{% extends 'patient/patient_base.html' %}
{% load staticfiles %}

{% block patient_block %}

    <div class="container">
      <div class ="container" style="padding:1em; background-color: #efefef">
        <img src="{% static 'images/doctor.png' %}" style = "height:8em !important" class="img-fluid border-img" alt="My image">
        <span style="font-size:2em; padding:0.5em">Dr Joe Davis</span>
      </div>
        <table class="table" style="margin-top:1em; margin-bottom:1em">
            <thead>
                <tr>
                    <th>Department</th>
                    <th class = "table_details">Cardiology</th>
                </tr>
            </thead>
            <thead>
                    <tr>
                        <th>Practice</th>
                        <th class = "table_details">24 Woodlands Road, G4 9TD</th>
                    </tr>
                </thead>
                <thead>
                        <tr>
                            <th>Phone</th>
                            <th class = "table_details">0748392857</th>
                        </tr>
                    </thead>
        </table>
        <div style = "text-align: center; margin:1em">

            <button type="button" class="btn btn-danger doctor_contact_buttons">Call</button>

            <button type="button" class="btn btn-danger doctor_contact_buttons">Message</button>

        </div>
            <div style = "text-align: center; position:relative; top:3em; margin:1em">
                <a href="{% url 'view_doctor' %}"><button style="padding:1em; display:block; width:100%;"  type="button" class="btn btn-danger">Go Back</button></a>
        </div>
        </div>



{% endblock %}
