    
    
{% extends '../base.html' %}
{% load staticfiles %} 
{% block title_block %} {{ block.super }} {% endblock %}

{% block body_block %}

{% block patient_block %}
{% endblock %}  


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <a class="nav-link active" href="#"><i class="fas fa-home"></i></a>
        <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
        <a class="nav-link" href="#"><i class="far fa-envelope"></i></a>
</nav>

{% endblock %}   
    
    
    
    