{% extends '../base.html' %}
{% load staticfiles %} 
{% block title_block %} {{ block.super }} {% endblock %}

{% block body_block %}

<div class = "container">
    <br>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{greeting}} {{first_name}}</h5>
            {% if pill %}
                <p class="card-text">
                    You have to take {{pill_amount}} pills today at {{pill_time}}
                </p>
            {% else %}
                <p class="card-text">
                    You don't have to take any pills today!
                </p>
            {% endif %}
           

        </div>
    </div>


</div>

{% endblock %}