{% extends 'patient/patient_base.html' %}
{% load staticfiles %} 

{% block patient_block %}

<div class = "container">
    <br>

    <div class="card">
        <div class="card-body">
            {% if doctor %}
                
            {% else %}
                <p>
                    You don't have to take any pills today!
                </p>
            {% endif %}
           

        </div>

    </div>
        <br>
        <div style = "text-align: center"> 
            <a href="{% url 'login' %}">
                <button style="width:60%"  type="button" class="btn btn-danger">Add Doctor</button>
            </a>
        </div>

</div>

{% endblock %}