{% extends 'patient/patient_base.html' %}
{% load staticfiles %}

{% block patient_block %}

<div class = "container">
  <div class ="container" style="padding:1em; background-color: #efefef">
      <span style="font-size:2em; padding:0.5em">My Doctors</span>
  </div>

  <br>
  <div class="card text-center text-white bg-danger" style="text-align: center">
    <a href="{% url 'doctor_profile' %}">
        <button style="width:60%;  padding: 20px 60px;"  type="button" class="btn btn-danger">Dr Joe Davis</button>
    </a>
  </div>

  <br>
  <div class="card text-center text-white bg-danger" style="text-align: center">
      <a href="{% url 'doctor_profile' %}">
          <button style="width:60%;  padding: 20px 60px;"  type="button" class="btn btn-danger">Dr 1</button>
      </a>
  </div>

  <br>
  <div class="card text-center text-white bg-danger" style="text-align: center">
      <a href="{% url 'doctor_profile' %}">
          <button style="width:60%;  padding: 20px 60px;"  type="button" class="btn btn-danger">Dr 2</button>
      </a>
  </div>
</div>



{% endblock %}
