{% extends '../base.html' %}
{% load staticfiles %} 
{% block title_block %} {{ block.super }} {% endblock %}

{% block body_block %}
<div class = "container">
<br>
<h1 style = "text-align: center"> Base85 Overflow </h1>
<p style = "text-align: center"> Elderly care</p>
</div>
<img src="{% static "images/splash_screen.jpeg" %}" class="img-fluid" alt="My image">
<div class = "container">
<div style = "text-align: center"> 
    <a href="{% url 'login' %}">
        <button style="width:60%"  type="button" class="btn btn-danger">Login</button>
    </a>
</div>
</div>
{% endblock %}